h1 {
  font-family: "Roboto", serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  align-content: center;
}

li {
  /* float: left; */
  display: block;
}

a {
  display: block;
  padding: 8px;
  background-color: orange;
  text-decoration: none;
  color: purple;
  font-size: 20px;
}

a:hover {
  background-color: darkorange;
}

.navigation {
  background-color: orange;
  margin: 0;
  padding: 0;
  text-align: center;
}

body {
  background-color: lightgrey;
}

p {
  text-align: center;
  font-family: "Roboto", serif;
  font-size: 25px;
}

table {
  margin-left: auto;
  margin-right: auto;
}

#textBox {
  margin: auto;
  display: block;
  height: 50px;
  width: 350px;
  font-size: 25px;
  text-align: right;
  font-family: "Roboto", serif;
}

input[type=button] {
  width: 85px;
  height: 50px;
  background-color: orange;
  border-radius: 8px;
  font-size: 20px;
  font-family: "Roboto", serif;
}

input[type=button]:hover {
  background-color: darkorange;
}

#zero {
  width: 175px;
}

input[type=button].active {
  background-color: darkorange;
}

label {
  font-family: "Roboto", serif;
  font-size: 20px;
}

input[type=number] {
  height: 20px;
  width: 50px;
  font-family: "Roboto", serif;
  font-size: 20px;
}

.calcSection, .gradeSection {
  display: flex;
  flex-direction:column; 
  align-items: center; 
  margin: 10px; 
}

.gradeSection input {
  text-align: center;
  width: 250px;
}

.calcSection div {
  padding: 10px;
}

.dark {
  background-color: darkslategrey;
  color: antiquewhite;
}

.dark select {
  background-color: grey;
  color:antiquewhite;
}

.dark input[type=number]
{
  background-color: grey;
  color: antiquewhite;
}

.dark input[type=text]
{
  background-color: grey;
  color: antiquewhite;
}

.semesterHolder {
  font-size: 30px;
  text-align: center;
}

select {
  /* width: 100px; */
  height: 25px;
  width: 50px;
  text-decoration: none;
  font-family: "Roboto", serif;
  font-size: 20px;
}

.addClassButton input {
  width: 50px;
  height: 30px;
}

.addSemesterButton input {
  width: 50px;
  height: 30px;
}

#darkModeButton {
  width: auto;
  height: auto;
  text-align: center;
  align-content: center;
  margin: auto;
  display: block;
  margin-bottom: 10px;
}

.exportSection #pdfButton {
  margin: auto;
  display: block;
  margin-top: 50px;
}